*{
    margin:0;
    padding:0;
    font-family:poppins;
    
}

a{
    text-decoration:none;
    color:inherit;
}

.hamburger{
    display:none;
}

.navbar{
    width:72%;
    height:15vh;
    margin-left:22%;
    margin-top:-1.2rem;
    /* padding:1.5%; */
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#8AD5DA;
    position:absolute;
   
   
}    


.logo img{
    width:250px;
    top:-1rem;
    cursor:pointer;
    margin-left:5px;
    position: absolute;
    
}


.navbar ul li{
    list-style:none;
    display:inline-block;
    margin:0 40px; 
    position:relative; 
    
    
   
    
    
}

#page1{
    color: #922E8E;
}



.navbar ul li a{
    text-decoration:none;
    color:black;
    font-family:poppins;
    font-weight:500;
    font-size:20px;
    
    
   

}    

.navbar ul li::after{
    content:'';
    height:3px;
    width:0;
    background:#922E8E;
    position:absolute; 
    left:0;
    bottom:-5px;
    transition:0.5s;
}


.navbar ul li:hover::after{
    width:100%;
} 

.state2{
    
    position: absolute;
    width: 788px;
    height: 43px;
    left: 52px;
    top:16vh;

}

.state2 p{
    position: absolute;
    width:70%;
    height: 43px;
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color:#922E8E;  
}

.content{
    width:87%;
    height:50vh;
    position:absolute;
    top:14vh;
    margin-left:52px;
    margin-right:52px;
    

} 

.content p{
    position: absolute;
    width:100%;
    height: 50vh;
    /* left:52px; */
    top:13vh;
    letter-spacing: 0.04em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color:#000000;
}


.vision img{
    position: absolute;
    width: 126px;
    height: 116px;
    left: 165px;
    top:65vh;
    border-radius:50%;

}
.vision p{
    position: absolute;
    width: 222px;
    height: 37px;
    left: 155px;
    top: 83vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #000000;

}
.demo{
    font-weight:700;
}



.mission img{
    position: absolute;
    width: 126px;
    height: 116px;
    left: 520px;
    top: 65vh;
    border-radius:50%;

}
.mission p{
    position: absolute;
    width: 195px;
    height: 35px;
    left: 490px;
    top: 83vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #000000
}
.vmain{
    position: absolute;
    width: 284px;
    height: 76px;
    left: 100px;
    top: 686px;
    background: #D9D9D9;

}
.vmain p{
    position: absolute;
width: 270px;
height: 70px;
left: 10px;
top: 0.5vh;
font-family: 'Poppins';
font-style: normal;
font-weight: 410;
font-size: 15px;
line-height: 22px;

color: #000000;

}
.mmain {
    position: absolute;
width: 284px;
height: 76px;
left: 450px;
top: 686px;

background: #D9D9D9;
}

.mmain p{
    position: absolute;
width: 278px;
height: 46px;
left: 16px;
top: 0.5vh;

font-family: 'Poppins';
font-style: normal;
font-weight: 410;
font-size: 15px;
line-height: 22px;

color: #000000;

}


.diamond{
    display:flex;
    justify-content:center;
    align-items:center;
    position: absolute;
    width:150px;
    height:155px;
    background-color:#D9D9D9 ;
    transform-origin:-750% 180%;
    transform:scaleX(2.2) scaleY(0.4) rotate(45deg);
}
.rec{
    position: absolute;
    width: 461.09px;
    height: 107.58px;
    left: 809px;
    top: 520px;
    background-color:transparent;
}

.rec p{
    position: absolute;
    width: 459px;
    height: 82px;
    left: 10px;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
   

}



footer {
    position:absolute;
    width: 1440px;
    height: 233px;
    left:0px;
    margin-top:791px;
    background-color:rgba(163, 47, 158, 0.7);
}

.footercontainer{
    width:100%;
    padding:70px 30px 20px;
}

.fimage img{
    position: absolute;
    width: 442px;
    height: 107px;
    left: 511px;
    top:5%;
}

.socialicons{
    display:flex;
    justify-content:center;
    margin-top:6%;
   
    
}


.socialicons a{
    text-decoration:none;
    padding:12px;
    background-color:#33363C;
    margin:5px;
    border-radius:50%;
    width:45px;
    height:30px;
    
}




.socialicons a i{
    font-size:3em;
    color:white;
    margin-top:-23%;
    

}

.follow{
    position: absolute;
    width: 100%;
    height: 50%;
    left:30% ;
    top: 10%;   
}

.follow p{
    position: absolute;
    width:100%;
    height:50%;
    left:8.9%;
    top: 80%;
    color:white;
    font-family: 'poppins';
    font-style: italic;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px; 
}

.contact{
    position: absolute;
   width: 238px;
   height: 151.34px;
   left: 4%;
   top: 8%;
   color:white;
}

.contact span{   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
 }
.contact ul li{
     font-family:'Inter';
     font-style: normal;
     font-weight: 800;
     font-size:15px;
     line-height:18px;
     list-style:none;
}
 
.Register{
     position: absolute;
     width: 251px;
     height: 33.16px;
     right:3vh;
     top: 0.2rem;
 
}
 
.Register p{
     position: absolute;
     width: 100%;
     height: 33.16px;
     right:3vh;
     top: 0.2rem;
     font-family: 'Inter';
     font-style: italic;
     font-weight: 600;
     font-size: 32px;
     line-height: 39px;
     color:white;
}
 
.btn {
     position: absolute;
     width: 162px;
     height: 41.66px;
     right:12vh;
     top: 9vh;
     border-radius:35px;
     background-color:#8AD5DA ;
 
}
.btn p{
     position: absolute;
     width: 131px;
     height: 35.71px;
     right:1vh;
     top: 0.01vh;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-size: 29px;
     line-height: 44px;
     color: #000000;
}


@media (max-width: 600px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar ul li {
        margin: 5px 0;
    }

    .content {
        width: 100%;
    }

    .content h1 {
        font-size: 20px;
        line-height: 26px;
    }

    .content p {
        font-size: 14px;
        line-height: 20px;
    }

    .button1 {
        margin: 15px 0;
    }

    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6 {
        margin: 10px 0;
    }
    .hamburger{
        display:block;
        
    }   
}
 
 
 
 
 